.material-menu-wrapper {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100px;
        overflow: hidden;
        z-index: 50;
        transition: height 0.3s ease;
}

.material-btn {
        will-change: transform;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 48px;
        height: 48px;
        border-radius: var(--border-radius-button);
        box-shadow: var(--box-shadow);
        background: transparent;
        cursor: pointer;
        z-index: 2;
}

.material-btn:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 48px;
        height: 48px;
        background: var(--color-mobile-menu-background);
        backdrop-filter: blur( 2px );
        -webkit-backdrop-filter: blur( 2px );
        border-radius: 10px;
        border-radius: var(--border-radius-button);
        cursor: pointer;
        transform-origin: center 70%;
        transform: scale(1);
        transition: all 0.6s ease-out;
}
.material-btn.active:before {
        transform: scale(25);
        background: var(--color-mobile-menu-background);
        backdrop-filter: blur( 0.2px );
        -webkit-backdrop-filter: blur( 0.2px );
}

.material-content {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
}
.material-content.active {
        z-index: 2;
}

.menu-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        padding: 100px 20px;
}
.mobile-menu-item {
        width: 48px;
        height: 48px;
        will-change: transform, opacity;
        margin: 25px 0;
        opacity: 0;
        transition: all 0.6s ease-out;
}
.mobile-menu-item.active {
        -webkit-animation: slide-in-blurred-bottom 0.9s ease-out both;
        animation: slide-in-blurred-bottom 0.6s ease-out both;
        opacity: 1;
        color: var(--color-accent);
}
.mobile-menu-item:not(.active) {
        -webkit-animation: slide-out-blurred-bottom 0.6s ease-in both;
        animation: slide-out-blurred-bottom 0.6s ease-in both;
        opacity: 0;
}
.menu-item-link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 40px;
        width: 100%;
        height: 48px;
        white-space: nowrap;
        z-index: 2;
}

.active-link {
        color: var(--color-accent);
}

.material-hamburger {
        transition: all 0.6s ease-out;
}
.material-hamburger .material-patty {
        will-change: transform, opacity;
        width: 32px;
        height: 3px;
        margin: 0 0 6px 0;
        background: var(--color-text);
        opacity: 1;
        transform: translate(0) rotate(0deg);
        transition: all 0.2s ease-out;
}
.material-hamburger .material-patty:last-child {
        margin-bottom: 0;
}
.material-hamburger.material-close {
        transform: rotate(-180deg);
}
.material-hamburger.material-close .material-patty:nth-child(1) {
        transform: translate(-10px, 4px) rotate(-45deg) scale(0.5, 1);
}
.material-hamburger.material-close .material-patty:nth-child(3) {
        transform: translate(-10px, -4px) rotate(45deg) scale(0.5, 1);
}

@keyframes slide-in-blurred-bottom {
        0% {
                transform: translateY(1000px) scaleY(2) scaleX(0.2);
                opacity: 0;
        }
        100% {
                transform: translateY(0) scaleY(1) scaleX(1);
                opacity: 1;
        }
}
@keyframes slide-out-blurred-bottom {
        0% {
                transform: translateY(0) scaleY(1) scaleX(1);
                opacity: 1;
        }
        100% {
                transform: translateY(1000px) scaleY(2) scaleX(0.2);
                opacity: 0;
        }
}