.header-menu {
  border-radius: 0.5rem;
  box-shadow: inset 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.25);
  width: 50vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.header-menu-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.header-menu-item {
  flex: 1;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-menu-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-text);
  width: 100%;
  height: 48px;
  text-decoration: none;
  font-family: var(--font-family-base);
  font-weight: 500;
  font-size: max(1vw, 14px);
  letter-spacing: 1.2px;
  white-space: nowrap;
}

.header-menu-link:hover {
  color: var(--color-accent);
}

.header-menu-link:focus {
  outline: none;
  color: var(--color-accent);
}

.header-menu-list {
  justify-content: space-between;
}

.header-menu-item {
  flex: 1 1 0;
}


.header-menu-item:last-child:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%; 
  margin-right: -50%;
  box-shadow: var(--box-shadow-inset-2);
  background: var(--color-background-button);
  border-radius: 0.5rem;
  z-index: -100;
  transition: 350ms cubic-bezier(1, 0.49, 0.09, 1.29) all;
  pointer-events: none;
  opacity: 0;
}

.header-menu-item.active ~ li:last-child:after,
.header-menu-item:hover ~ li:last-child:after {
  opacity: 1;
}

.header-menu-item:last-child:hover:after {
  opacity: 1;
  right: 50%;
}

.header-menu-item:last-child.active:after {
  opacity: 1;
  right: 50%;
}

@media (max-width: 48rem) {
  .header-menu {
    display: none;
  }
}



.header-menu-item.active ~ li:last-child:after {
  right: auto;
}

.header-menu-item:nth-child(1).active ~ li:last-child:after {
  right: 350%;
}

.header-menu-item:nth-child(2).active ~ li:last-child:after {
  right: 250%;
}

.header-menu-item:nth-child(3).active ~ li:last-child:after {
  right: 150%;
}

.header-menu-item:nth-child(4).active ~ li:last-child:after {
  right: 50%;
}

.header-menu-item:last-child:after {
  right: 350%;
}

.header-menu-item.active .header-menu-link {
  color: #ff6900;
}


.header-menu > ol > li:nth-child(1):hover ~ li:last-child:after {
  right: 350%;
}

.header-menu > ol > li:nth-child(2):hover ~ li:last-child:after {
  right: 250%;
}

.header-menu > ol > li:nth-child(3):hover ~ li:last-child:after {
  right: 150%;
}


.header-menu-item:nth-child(1).active ~ li:last-child:hover:after {
  right: 50%;
}

.header-menu-item:nth-child(2).active ~ li:last-child:hover:after {
  right: 50%;
}

.header-menu-item:nth-child(3).active ~ li:last-child:hover:after {
  right: 50%;
}

/* Mobile Menu */

